{% load static %}
<br>
<br>
<footer id="footer" class="text_footer">

    <div class="container">
        <div class="row text-center p-3">
            <div class="col">
                <a href="">
                    <i class="min fa-brands fa-twitter fa-2x"></i>
                </a>
            </div>    
            <div class="col">
                <a href="">
                    <i class="min fa-brands fa-facebook fa-2x"></i>
                </a>    
            </div>
            <div class="col">
                <a href="">
                    <i class="min fa-brands fa-tiktok fa-2x"></i>
                </a>
            </div>
            <div class="col">
                <a href="">
                    <i class="min fa-brands fa-instagram fa-2x"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row text-center p-3">
        <div class="text-center p-3 ">
            © 2024 Copyright: Ariel Villarreal Carrillo
        </div>
        <a class="text-body" href="https://desafiolatam.com/">Desafio Latam</a>
    </div>
</footer>
