{% load static %}

<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Tienda De Flanes</span>
        <span class="site-heading-lower">OnlyFlans</span>
{% comment %}         <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand text-white letralabster" href="{% url "indice" %}">
                <img class="logotipo w-25" src="{% static 'img/logo.png' %}" alt="OnlyFlans">
            </a>
        </div> {% endcomment %}
    </h1>
</header>