{% extends "base.html" %}
{% block 'content' %}

{% load crispy_forms_tags %}

<div class="container text-center">
<h4>Registrate</h4>
</div>

<br>

<form id="register-form" action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">* Complete todos los campos</h5>
            {{ form | crispy }}
            <button class="btn btn-sm btn-primary float-end" type="submit">Enviar</button>
        </div>
    </div>
</form>
{% endblock 'content' %}