{% extends "base.html" %}
{% block 'content' %}

{% load crispy_forms_tags %}

<section class="d-flex justify-content-center clearfix">
    <div>
        <div class="intro-text left-0 bg-faded p-5 rounded">
            <div class="card-header">
                <h4>Registrate</h4>
            </div>
        <br>

        <form id="register-form" action="" method="post">
            {% csrf_token %}
                <div class="card-body">
                    <h5 class="card-title">* Complete todos los campos</h5>
                    {{ form | crispy }}
                    <button class="btn btn-sm btn-primary float-end" type="submit">Enviar</button>
                </div>
        </form>
    </div>
</section>

{% endblock 'content' %}