{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Delicius</span>
                        <span class="section-heading-lower">{{ flan.name }}</span>
                    </h2>
                </div>
            </div>
            <img class="img-fluid w-100 rounded " src="{{ flan.image_url }}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">{{ flan.description}}</p>
                    <span class="text-bg-danger ">Precio: $ {{ flan.precio}}.-</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 'content' %}