{% extends 'base.html' %}
{% load static %}


{% block 'content' %}



<section class="page-section clearfix">
    <div class="container">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <img src=" {{ flan.image_url }}" class="card-img-top" alt="{{ flan.slug }}">
            <div class="card-body">
                <h5 class="card-title">{{ flan.name }}</h5>
                <p class="card-text text-justify">{{ flan.description}}</p>
                <p class="card-text text-justify">Precio: $ {{ flan.precio}}.-</p>
            </div>
        </div>
    </div>
</section>

{% endblock 'content' %}