{% extends 'base.html' %}
{% load static %}


{% block 'content' %}

<section class="page-section clearfix">
    <div class="container">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Bienvenido</span>
                    <span class="section-heading-lower">{{ user.username }}</span>
                </h2>
            </div>
    </div>
</section>

<section class="container-fluid p-5 page-section clearfix">
    <div class="row row-cols-1 row-cols-md-3 g-4 clearfix">
    {% for flan in flanes %}
    <div class="col">
        <div class="card h-80">
            <a href=" {% url "flan_details" flan.id %} ">
                <img src="{{ flan.image_url }}"class="card-img-top" alt="{{ flan.slug }}" height="300px" weight="200px">
            </a>
        <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text text-justify mb-3">{{ flan.description}}</p>
        </div>
        <div class="card-footer">
            <a href=" {% url "flan_details" flan.id %} ">
                <small class="text-body-secondary">Delicius</small>
            </a>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</section>

{% endblock 'content' %}